@import "../../styles/global.css";
#root {
  background-color: var(--grey-01);
}
.chat {
  background-color: var(--grey-01);
  width: 100%;
  flex-grow: 1;
  flex-basis: 0;
  flex-direction: column;
  padding: 2rem;
  overflow-y: scroll;
}
.chat__actions {
  width: 48rem;
  margin: auto auto 0 auto;
  position: sticky;
  bottom: 1rem;
}
/* PROMPT */

.prompt__main,
.prompt__active,
.prompt {
  display: flex;
  padding: 0.5rem;
  border-radius: 13px;
  border: solid 1px var(--grey-02);

  align-items: flex-end;
  justify-content: space-between;
  gap: 0.5rem;
  flex-grow: 1;
  background-color: var(--grey-01);
  position: relative;
  overflow: hidden;
}
.prompt__active {
  box-shadow: 0.3rem -0.2rem 1rem rgba(0, 0, 0, 0.1);
}
.prompt__main::after {
  content: " ";
  position: absolute;
  height: 100%;
  bottom: -102%;
  left: 0;
  right: 0;
  /* z-index: -1; */

  background-color: var(--grey-01);
  /* background-color: red; */
}
.prompt:focus-within {
  border: solid 1px var(--grey-input);
}
.prompt__attach {
  height: 100%;

  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}
.prompt__attach--icon {
}
/* SUBMIT BUTTON */
.prompt__input {
  margin: 0; /* m-0 */
  width: 100%; /* w-full */
  resize: none; /* resize-none */
  border: 0; /* border-0 */
  background-color: transparent; /* bg-transparent */
  outline: none; /* focus:ring-0 */
  /* focus-visible:ring-0 - This removes the ring on focus, but there's no direct CSS property for focus-visible, so you might need to use :focus-visible pseudo-class */
  background-color: transparent; /* dark:bg-transparent - This is for dark mode, which is the same as the default */
  color: var(--grey-04); /* placeholder-black/50 */
  font-family: sans-serif;
  font-size: 1.1rem;
  /* dark:placeholder-white/50 - This changes the placeholder color in dark mode */
  padding-left: 10px; /* pl-10 */
  /* display: table-cell; */
  /* vertical-align: middle; */
  /* text-align: justify; */
  /* white-space: normal; */
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  box-sizing: border-box;
  /* height: 52px; */
  max-height: 44px;
  overflow: hidden;
  /* line-height: 22px; */
}
.prompt__input::placeholder {
    font-size: 6rem;
}
.prompt__input textarea {
    height: 16rem
}

.prompt__input:focus-visible {
  outline: none; /* focus-visible:ring-0 */
}

.prompt__input::placeholder {
  color: var(--grey-04); /* placeholder-black/50 */
  font-family: sans-serif;
  font-size: 1rem;
}

@media (min-width: 768px) {
  /* md: breakpoint in Tailwind by default is 768px */
  .prompt__input {
  }
}

.submit__icon {
  color: var(--grey-01);
  margin: auto;
}

.submit,
.submit__disabled {
  display: flex;

  padding: 0.3rem;
  border-radius: 8px;
  /* width: 20px; */
  /* margin-right: 0.05rem; */
  appearance: none;
  margin-bottom: 0.45rem;

  /* justify-items: center; */
  /* align-items: center; */
}
.submit {
  background-color: #fff;
}
.submit__disabled {
  background-color: var(--grey-02);
}
