:root {
  --grey-01: #343541;
  --grey-02: #444654;
  --grey-03: #9a9b9f;

  --grey-04: #c5c5d1;

  --grey-input: #4f505a;
  --grey-input-focused: #585863;
  --error-05: #dd524c;
  --error-05-trans: rgba(221, 82, 76, 0.1);
  --green-05: #0fa47f;
  --green-05-trans: rgba(15, 164, 127, 0.1);
}
