@import "../../styles/global.css";
.echo {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--grey-02);
  padding: 1rem 1.2rem;
  margin-bottom: 1rem;
  border-radius: 14px;
  gap: 10px;
  z-index: -1;
  overflow-y: auto;
  max-height: 50vh;
}
.echo__heading--flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.echo__heading {
  margin: 0;
  font-size: 1rem;
  color: var(--grey-04);
}

.echo__heading--disabled {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: var(--grey-04);
}
.analyzed {
  position: relative;
}
.analyzed__p {
  margin: 0.3rem;
}
.analyzed span {
  text-decoration: underline;
  text-decoration-style: solid;
  color: var(--grey-03);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.chips {
  margin: 0.8rem 0;
  display: flex;
  gap: 0.4rem;
  overflow-x: scroll;
}
.suggestion {
  padding: 0.1rem 0;
}
.suggestion__chunk {
  color: var(--grey-03);
  margin: 0.3rem;
}

/* SETTINGS */
.echo__settings {
  display: flex;
  align-items: center;
}
.settings__icon {
  color: var(--grey-03);
}
